<body>
    <img src="/assets/home.jpg" class="opacity-50" style="position: fixed; top: 10; left: 0; width: 100%; height: 100%; z-index: -1;">
    <div class="container"><br>
        <% if user_signed_in? %>
            <h1 style="color:#1DB954;">
                Hi <%= current_user.name%>,<br> welcome to Untuned
            </h1>
            <br><br><br>
            <%= link_to "My Profile", user_path(current_user.username), class:"btn w-100 btn-lg btn-outline-dark"%>
            <%= link_to "Go To Forum", posts_path, class:"btn w-100 btn-lg btn-outline-dark"%>

        <% else %>
            <h1 style="color:#1DB954;">
                Welcome to Untuned 
            </h1>
            <br><br><br>
            <%= link_to "Sign in", signin_path, class:"btn w-100 btn-lg btn-outline-dark"%>
            <br><br><br>
            <p>Don't have an account yet?</p>
            <%= link_to "Sign up here", signup_path, class:"btn w-100 btn-lg btn-outline-dark"%>
            <%= link_to "Continue as guest", posts_path, class:"btn w-100 btn-lg btn-outline-dark"%>
        <% end %>
    </div>
</body>