<!DOCTYPE html>
<html>
  <head>
    <title>Untuned</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navigation Bar --> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Untuned</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Contacts", contact_path, class:"nav-link"%>
            </li>

            <li class="nav-item">
              <%= link_to "Home", root_path, class:"nav-link"%>
            </li>

            <li class="nav-item">
              <%= link_to "Forum", posts_path, class:"nav-link"%>
            </li>

            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "My Profile", user_path(current_user.username), class:"nav-link"%>
              </li>
        
              <% if current_user.admin?%>
                <li class="nav-item">
                  <%= link_to "Admin Area", admin_path, class:"nav-link"%>
                </li> 
              <% end %>
            <% end %>
          </ul>
        </div>


        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= form_with url: profiles_index_path, method: :get do |form|%>
                <%= form.search_field :query, value: params[:query],
                placeholder: "Search user"%>
                <%= form.submit "Search", class:"btn btn-outline-success btn-sm" %>
              <% end %>
            </li>
          </ul>
        </div>
        ⠀⠀
        <div>
          <ul class="navbar-nav">
            <%= render 'layouts/notifications' %>
          </ul>
        </div>
        <div>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link"%>
              </li>⠀
              <% if current_user && current_user.provider == 'spotify' && current_user.avatar_url.present? %>
                <%= image_tag(current_user.avatar_url, style: "display: inline-block; height: 40px; width: 40px; object-fit: cover; border-radius: 50%;") %>
              <%else%>
                <% if current_user.image.attached? %>
                  <%= image_tag(current_user.image, style: "display: inline-block; height: 40px; width:40px; object-fit:cover; border-radius: 50%;")%>
                <% else %>
                  <img src="/assets/default_picture.jpg" display="inline-block" height="40px" width="40px" object-fit="cover" border-radius="50%">
                <% end %>
              <% end %>

            <% else %>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class:"nav-link"%>
              </li>

              <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path, class:"nav-link"%>
              </li>

            <% end %>
          </ul> 
        </div>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>