<body style="background-color:black;">
    <div class="container", style="color:lightgrey;">
        <div class="row">
            <div class="col md-2 d-flex justify-content-right">
                <div>
                    <br>
                    <%= link_to "< Back to posts", posts_path, class:"btn btn-outline-light"%>
                </div>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
                <div>
                    <br>
                    <h2 style="color:#1DB954;">Search results:</h2>
                </div>
            </div>
            <div class="col md-2">
            </div>
        </div>
    </div>
    
    <div class="container", style="color:lightgrey;">
        <% @topics.each do |post| %>
            <hr style="color:#1DB954;">
            <div class="row">
                <%= render post %>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <%= link_to "Show this post", post %>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <i class="bi bi-chat-dots-fill"></i>⠀<%=post.comments.count%>⠀⠀
                    <i class="bi bi-hand-thumbs-up-fill"></i>⠀<%= post.votes_for.up.size%> ⠀⠀
                    <i class="bi bi-hand-thumbs-down-fill"></i>⠀<%= post.votes_for.down.size%>
                </div>
            </div>

        <% end %>

        <div class="text-center">
            <% if !@topics[0].present?%>
                <h4> No Post found </h4>
            <% end %>
        </div>
    </div>
</body>



 
    
