<body style="background-color:black;">
    <div class="container", style="color:lightgrey;">
        <div class="row">
            <div class="col md-2 d-flex justify-content-right">
                <div>
                    <br>
                    <%= link_to "< Back to posts", posts_path, class:"btn btn-outline-light"%>
                </div>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
                <div>
                    <br>
                    <h2 style="color:#1DB954;">Search results:</h2>
                </div>
            </div>
            <div class="col md-2">
            </div>
        </div>
    </div>
    
    <div class="container", style="color:lightgrey;">
        <% @topics.each do |post| %><hr>
            <div class="row">
                <%= render post %>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <%= link_to "Show this post", post %>
                </div>

                <div class="col-md-4 d-flex justify-content-end">
                    Comments:⠀<%=post.comments.count%>
                </div>

                <div class="col-md-2 d-flex justify-content-start">
                    👍 :<%= post.votes_for.up.size%> 
                    ⠀|⠀
                    👎 :<%= post.votes_for.down.size%>
                </div>
            </div>

        <% end %>

        <div class="text-center">
            <% if !@topics[0].present?%>
                <h2> No Posts found </h2>
            <% end %>
        </div>
    </div>
</body>



 
    
