<body style="background-color:black">
    <div class="container", style="color:lightgrey"><br>

        <% if user_signed_in?%>
            <% if @user.username == current_user.username && (@user.provider == 'google_oauth2' || @user.provider == 'spotify') %>
                <div class="col-md-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-success" disabled>Edit my account</button>
                </div>
            <% elsif @user.username == current_user.username%>
                <div class="col-md-12 d-flex justify-content-end">
                    <%= link_to "Edit my account", edit_user_registration_path, class:"btn btn-success"%>
                </div>
            <% else %>
                <br>      
            <% end %>
        <% end %>

        <div class="row">
            <div class="col-md-2 d-flex justify-content-end">
                <% if (@user.provider == 'google_oauth2' || @user.provider == 'spotify') && @user.avatar_url.present? %>
                    <%= image_tag(@user.avatar_url, style: "display: inline-block; height: 180px; width: 170px; object-fit: cover; border-radius: 50%;") %>
                <%else%>
                    <% if @user.image.attached? %>
                        <%= image_tag(@user.image, style: "display: inline-block; height: 180px; width: 170px; object-fit:cover; border-radius: 50%;")%>
                    <% else %>
                        <img src="/assets/default_picture.jpg" display="inline-block" height="180px" width="170px" object-fit="cover" border-radius="50%">
                    <% end %>
                <% end %>
            </div>
            <div class="col-md-4 d-flex justify-content-start">
                <div>
                    <% if user_signed_in?%>
                        <%if @user.username == current_user.username%>
                            <br>
                            <h6>My Profile</h6>
                        <% else %>
                            <br><br>
                        <%end%>
                    <% else %>
                        <br><br><br>
                    <% end %>

                    <h1><%= @user.username %>
                        <% if current_user && current_user.following?(@user)%>
                        <% elsif current_user && @user != current_user && !current_user.following?(@user)%>
                        <% end %>
                    </h1>

                    <% if user_signed_in? && @user.username != current_user.username%>
                        <% if current_user.following?(@user) %>
                            <div class="d-flex justify-content-center">
                                <%= link_to "Following", unfollow_user_path(@user.username),
                                method: :delete, class:"btn btn-sm btn-light w-50" %>
                            </div>
                        <% else %>
                            <div class="d-flex justify-content-center">
                                <%= link_to "Follow", follow_user_path(@user.username),
                                method: :post, class:"btn btn-sm btn-primary w-50" %>
                            </div>
                        <% end %>
                    <% end %>

                    <% if user_signed_in? && @user.username == current_user.username%>
                        <h6><br>
                            <%= @user.count_user_followers %>
                            <%= link_to "Followers", followers_path %>⠀-⠀
                            <%= @user.following_users_count %>
                            <%= link_to "Following", following_path %>
                        </h6>
                    <% end %>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <% if user_signed_in? && @user.provider=="spotify"%>
            <h4 class="d-flex justify-content-center" style="color:#1DB954;">Currently playing song</h4>
            <div class="row">
                <% if @currently_playing && @currently_playing != {}%>
                    
                    <div class="col-md-2 d-flex justify-content-center">⠀⠀⠀
                        <a href="<%= @currently_playing['item']['external_urls']['spotify'] %>" target="_blank">
                            <img src="<%= @currently_playing['item']['album']['images'][0]['url'] %>", style="height:160px; width:150px;">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h5><br>
                            Song:⠀<%= @currently_playing['item']['name'] %>
                            <br><br>
                            Album:⠀<%= @currently_playing['item']['album']['name'] %>
                            <br><br>
                            Artist:⠀<%= @currently_playing['item']['artists'][0]['name']%>
                        </h5>
                    </div>
                <% else %>
                    <h5 class="d-flex justify-content-center">
                        No song currently playing
                    </h5>
                <% end %>

                <% if @error %>
                    <p>Error: <%= @error %></p>
                <% end %>
            </div>
            <br>
            <hr>
        <% end %> 

        <% if user_signed_in? && @user.provider=="spotify"%>       
            <div class="row">
                <div class="col-md-7">
                    <h3 class="d-flex justify-content-center", style="color:#1DB954;">Top 15 Songs</h3>
                    <br>
                    <% if @top_tracks && @top_tracks != {} %>
                        <ul>
                            <% for i in 0..14 %>
                                <h5>
                                    <%= i+1 %>.⠀
                                    <a href="<%= @top_tracks['items'][i]['external_urls']['spotify'] %>" target="_blank"><img src="<%= @top_tracks['items'][i]['album']['images'][0]['url'] %>", style="height:80px; width:70px;"></a>⠀
                                    <%= @top_tracks['items'][i]['name']%> - <%= @top_tracks['items'][i]['artists'][0]['name']%>
                                </h5>
                                <hr>
                            <% end %>
                        </ul>
                        
                    <% else %>
                        <p><%= @error %></p>
                    <% end %>
                </div>
               
                <div class="col-md-5">
                    <h3 class="d-flex justify-content-center", style="color:#1DB954;">Top 10 Artists</h3><br>
                    <% if @top_artists && @top_artists != {} %>
                        <div class="d-flex justify-content-center">
                            <ul>
                                <% for i in 0..9 %>
                                    <h5>
                                        <%= i+1 %>.⠀
                                        <a href="<%= @top_artists['items'][i]['external_urls']['spotify'] %>" target="_blank"><img src="<%= @top_artists['items'][i]['images'][0]['url'] %>", style="height:140px; width:130px; object-fit:cover; border-radius: 50%;"></a>⠀
                                        
                                        <%= @top_artists['items'][i]['name']%><br><br>
                                    </h5>
                                <% end %>
                            </ul>
                        </div>
                    <% else %>
                        <p><%= @error %></p>
                    <% end %>
                </div>
            </div>
        <% end %>
        <br>
        <% if user_signed_in? && @user.provider=="spotify"%> 
            <h3 class="d-flex justify-content-center" style="color:#1DB954;">Following Artists</h3>
            <br><br>
            <% if @following_artists && @following_artists != {} %>
                <% @total = @following_artists['artists']['total'] %>

                <% (0..@total-1).each_with_index do |i, index| %>
                    <% if index % 12 == 0 %>
                        <div class="row">
                    <% end %>
    
                    <div class="col-md-1">
                        <div class="element">
                            <%if i>49%><%break%><%end%>
                            <a href="<%= @following_artists['artists']['items'][i]['external_urls']['spotify'] %>" target="_blank">
                            <img src="<%= @following_artists['artists']['items'][i]['images'][0]['url'] %>", style="height:140px; width:130px; object-fit:cover; border-radius: 50%;"></a>⠀
                            <h6 class="d-flex justify-content-start"><%= @following_artists['artists']['items'][i]['name']%><h5>
                        </div>
                    </div>
    
                    <% if (index + 1) % 12 == 0 || index == 49 %> 
                        </div>
                    <% end %>
                <% end %>
                <h1><hr></h1>
            <% end %>
        <% end %>
    </div>
</body>
       
       