<body style="background-color:#1DB954;">
    <br>
    <h1 class="d-flex justify-content-center">My Profile</h1>

    <div>
        <h1>
            <%=current_user.username%><br>
        </h1>

        <h4>
            <p>
            name: <%=current_user.name%><br>
            last name: <%=current_user.lastname%><br>
            birth date: <%= current_user.birthdate%><br>
            country: <%= current_user.country%>
            </p>
        </h4>
    </div>
</body>
