<br>
<body style="background-color:black;">
  <div class="container", style="color:#1DB954;">
    <p><%= notice %></p>
    <h2 class="d-flex justify-content-center">Login</h2>
    <br>
    <div class="d-flex justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control w-100"%>
        </div>
        <br>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, id:"password", autocomplete: "current-password", class:"form-control w-100" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        
        <div class="actions">
          <div class="d-flex justify-content-center">
            <%= f.submit "Log in", class:"btn btn-outline-light w-100" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</body>
