<div id="<%= dom_id post %>">
  <p>
    <strong><%= link_to post.user.username, user_path(post.user.username)%></strong> -
    <strong><%= post.label %></strong>
  </p>

  <p>
    <%= post.content %>
  </p>

  <p>
    <strong>create at:</strong>
    <%= post.created_at %> |

    <strong>last update:</strong>
    <%= post.updated_at %>
  </p>

</div>
