<div id="<%= dom_id post %>">
  <p>
    <% if (post.user.provider == 'google_oauth2'|| post.user.provider == 'spotify') && post.user.avatar_url.present? %>
      <%= image_tag(post.user.avatar_url, style: "display: inline-block; height: 50px; width: 50px; object-fit:cover; border-radius: 50%;")%>
    <%else%>
      <% if post.user.image.attached? %>
        <%= image_tag(post.user.image, style: "display: inline-block; height: 50px; width: 50px; object-fit:cover; border-radius: 50%;")%>
      <% else %>
        <img src="/assets/default_picture.jpg" display="inline-block" height="50px" width="50px" object-fit="cover" border-radius="50%">
      <% end %>
    <% end %>⠀
    <strong><%= link_to post.user.username, user_path(post.user.username)%></strong>⠀
    <strong><%= post.label %></strong>
    <% if user_signed_in? && current_user.following?(post) %>⠀<i class="bi bi-bell-fill"></i> <% end %>
  </p>

  <p>
    <%= post.content %>
  </p>

  <p>
    <strong>create:</strong>
    <%= time_ago_in_words(post.created_at) %> 
    <i class="bi bi-distribute-horizontal"></i>
    <strong>last update:</strong>
    <%= time_ago_in_words(post.updated_at) %>
  </p>
</div>
