<div id="<%= dom_id post %>">
  <p>
    <strong>User:</strong>
    <%= post.user.email%>
  </p>

  <p>
    <strong>Label:</strong>
    <%= post.label %>
  </p>
  
  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Like:</strong>
    <%= post.like %>
  </p>

  <p>
    <strong>Dislike:</strong>
    <%= post.dislike %>
  </p>

  <p>
    <strong>create at:</strong>
    <%= post.created_at %>
  </p>

  <p>
    <strong>last update:</strong>
    <%= post.updated_at %>
  </p>

</div>
