<body style="background-color:black">
  <div class="container", style="color:lightgrey;">
    <p style="color: green"><br><%= notice %></p>
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center">
        <% if user_signed_in? %>
          <%= link_to "NEW", new_post_path, class:"btn btn-lg btn-primary rounded-pill" %>
        <%end%>
      </div>
      <div class="col-md-8 d-flex justify-content-center">
        <h2 style="color:#1DB954;">
          <i class="bi bi-repeat">⠀</i><i class="bi bi-caret-left-fill"></i>⠀Untuned⠀<i class="bi bi-caret-right-fill"></i>⠀<i class="bi bi-shuffle"></i><br>
        </h2>
      </div>
      <div class="col-md-2 d-flex justify-content-center"></div>
    </div>
    <br>
    <div class="row">
      <div class="col md-4 d-flex justify-content-left">
          <%= link_to "See only following's posts", posts_path, class:"btn btn-sm btn-success"%>
      </div>
      <div class="col md-4 d-flex justify-content-center">
        <%= form_with url: topics_index_path, method: :get do |form|%>
          <%= form.search_field :query, value: params[:query],
          placeholder: " Search by topic"%>
          <%= form.submit "Search", class:"btn btn-outline-success btn-sm" %>
        <% end %>
      </div>
      <div class="col md-4 d-flex justify-content-end">
        <%= link_to "See oldest posts first", oldest_following_posts_path, class:"btn btn-sm btn-outline-success"%>
      </div>
    </div>

    <div id="posts">
      <% Post.all.reverse.each do |post| %>
        <% if post.user != current_user && post.user.followed_by?(current_user)%>
          <hr style="color:#1DB954;">
          <%= render post %>

          <div class="row">
                
            <div class="col-md-3">
              <%= link_to "Show this post", post %>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
              <i class="bi bi-chat-dots-fill"></i>⠀<%=post.comments.count%>⠀⠀
              <i class="bi bi-hand-thumbs-up-fill"></i>⠀<%= post.votes_for.up.size%> ⠀⠀
              <i class="bi bi-hand-thumbs-down-fill"></i>⠀<%= post.votes_for.down.size%>
            </div>

            <div class="col-md-3 d-flex justify-content-end">
              <% if user_signed_in? %>
                <% if current_user.voted_up_on? post%>
                  <%= link_to "unlike", unlike_post_path(post), method: :delete, class:"btn btn-primary"%>
                <% else %>
                  <%= link_to "like", like_post_path(post), method: :post, class:"btn btn-outline-primary"%>
                <% end %>
    
                <% if current_user.voted_down_on? post%>
                  <%= link_to "undislike", undislike_post_path(post), method: :delete, class:"btn btn-primary"%>
                <% else %>
                  <%= link_to "dislike", dislike_post_path(post), method: :post, class:"btn btn-outline-primary"%>
                <% end %>
              <% end %>
            </div>
          </div> 
        <% end %>
      <% end %>
    </div>
  </div>
</body>
