<body style="background-color:black">
  <div class="container", style="color:lightgrey;">
    <p style="color: green"><%= notice %></p>

    <div class="row">
      <h1 class="d-flex justify-content-center", style="color:#1DB954;">Untuned</h1>
    </div>
    <div class="row">
      <div class="col md-4 d-flex justify-content-left">
        <% if user_signed_in? %>
          <%= link_to "See only following's posts", oldest_following_posts_path, class:"btn btn-sm btn-outline-success"%>
        <% end %>
      </div>
      <div class="col md-4 d-flex justify-content-center">
        <%= form_with url: topics_index_path, method: :get do |form|%>
          <%= form.search_field :query, value: params[:query],
          placeholder: "Search post by topic"%>
          <%= form.submit "Search", class:"btn btn-outline-success btn-sm" %>
        <% end %>
      </div>
      <div class="col md-4 d-flex justify-content-end">
        <%= link_to "See newest posts first", posts_path, class:"btn btn-sm btn-outline-success"%>
      </div>
    </div>

    <div id="posts">
      <% Post.all.each do |post| %><hr>
        <%= render post %>

        <div class="row">

          <div class="col-md-2">
            <%= link_to "Show this post", post %>
          </div>

          <div class="col-md-4 d-flex justify-content-end">
            Comments:⠀<%=post.comments.count%>
          </div>

          <div class="col-md-2 d-flex justify-content-start">
            👍 :<%= post.votes_for.up.size%> 
            ⠀|⠀
            👎 :<%= post.votes_for.down.size%>
          </div>

          <div class="col-md-4 d-flex justify-content-end">
            <% if user_signed_in? %>
              <% if current_user.voted_up_on? post%>
                <%= link_to "unlike", unlike_post_path(post), method: :delete, class:"btn btn-sm btn-outline-light"%>
              <% else %>
                <%= link_to "like", like_post_path(post), method: :post, class:"btn btn-sm btn-outline-light"%>
              <% end %>
    
              <% if current_user.voted_down_on? post%>
                <%= link_to "undislike", undislike_post_path(post), method: :delete, class:"btn btn-sm btn-outline-light"%>
              <% else %>
                <%= link_to "dislike", dislike_post_path(post), method: :post, class:"btn btn-sm btn-outline-light"%>
              <% end %>
            <% end %>
          </div>
          
        </div>

      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="d-flex justify-content-center">
        <div><br>
          <%= link_to "New post", new_post_path, class:"btn btn-success btn-lg" %>
        </div>
        <br><br>
      </div>
    <%end%>
  </div>
</body>

       