<body style="background-color:black">
  <div class="container", style="color:lightgrey;">
    <p style="color: green"><br><%= notice %></p>

    <div class="row">
      <div class="col-md-2 d-flex justify-content-start">
        <div>
          <%= link_to "< Back to posts", posts_path, class:"btn btn-outline-light"%>
        </div>
      </div>
      <div class="col-md-10 d-flex justify-content-end">
        <% if user_signed_in? && @post.user != current_user %><br>
          <div><br>
            <% if current_user.following?(@post) %>
              <%= link_to "Following", unfollowpost_post_path(@post.id),
              method: :delete, class:"btn btn-light" %>
            <% else %>
              <%= link_to "Follow", followpost_post_path(@post.id),
              method: :post, class:"btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <%= render @post %>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex justify-content-start">
        <% if user_signed_in? && (@post.user == current_user) %>
          <%= link_to "Edit post", edit_post_path(@post), class:"btn btn-outline-light" %>
          <%= button_to "Delete post", @post, data: {  }, method: :delete, class:"btn btn-outline-danger" %>
        <% end %>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <i class="bi bi-chat-dots-fill"></i>⠀<%=@post.comments.count%>⠀⠀
        <i class="bi bi-hand-thumbs-up-fill"></i>⠀<%= @post.votes_for.up.size%> ⠀⠀
        <i class="bi bi-hand-thumbs-down-fill"></i>⠀<%= @post.votes_for.down.size%>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <% if current_user == @post.user && @post.comments_enabled %>
          <%= link_to "Disable Comments", disable_comments_post_path(@post), class:"btn btn-outline-light" %>
        <% elsif current_user == @post.user && !@post.comments_enabled %> 
          <%= link_to "Enable Comments", enable_comments_post_path(@post), class:"btn btn-outline-light" %>
        <% end %>
      </div>
    </div>
    <hr style="color:#1DB954;">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h2 class="d-flex justify-content-center", style="color:#1DB954;">Comment section</h2>
      </div>
    </div>
 
    <%= render @post.comments%><br>

    <% if user_signed_in? && @post.comments_enabled %>
      <div clss="d-flex justify-content-center">
        <h4>New comment</h4>
        <%= render partial:'comments/form'%>
        <br><br>
      </div>
    <% elsif user_signed_in? && !@post.comments_enabled %>
      <div clss="d-flex justify-content-center">
        <h4>
          Comments are disabled
          <br><br>
        </h4>
      </div>
    <% end %>
  </div>
</body>


